
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body{
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
}

main{ 
     display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}


.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--advice-card-color);
    width: 345px;
    margin: 20px;
    border-radius: 10px
}

.textos{
    color: var( --text-color);
    font-size: 23px;
    padding: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.number, .advice{
    color: var(--advice-dice-color);
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 30px;
    text-transform: uppercase;
}

.icon{
    background-color:var(--advice-dice-color);
    border-radius: 50%;
    width:60px;
    height: 60px;
    border: none;
    transform: translateY(50%);
   
}


